<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OpenStack Authentication</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script type="text/javascript" th:inline="javascript">
        var mfa = /*[[${session.mfa}]]*/ false;

        if(mfa == null || mfa == undefined || mfa == false){
            location.href = "/login?error=invalid";
        }

    </script>
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h2 class="form-signin-heading">Please sign in</h2>
            <p>
                <label for="otp" class="sr-only">OTP</label>
                <input type="text" id="otp" name="otp" class="form-control" placeholder="OTP(6 number code)" required autofocus />
            </p>
            <input name="${_csrf.parameterName}" type="hidden" value="${_crsf.token}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>

